*.class

#package file
*.war
*.ear

#kaiff3 ignore
#.orig

#maven ignore
target/

#eclisp ignore
.settings/
.project
.classpath

#idea
.idea/
/idea/
*.ipr
*.iml
*.iws

#temp file

*.log
*.cache
*.patch
*.tmp

#system ignore
.DS_Store
Thumbs.db